html
{
    min-width: 100%;
}

body
{
    background-color: whitesmoke;
    min-width: 100%;
}

a
{
    text-decoration: none;
    color: white;
}


.grid-container 
{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(25, 2em); /* 25 colonnes */
    grid-template-rows: repeat(15, 2em); /* 15 lignes */
    grid-gap: 0px; /* Espace entre les cellules de la grille */
    margin: 2em auto;
    border : 5px solid black;
}

.grid-item 
{
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: 15px;
    line-height: 0px;
    border: 0px solid white;
}

.grid-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}

main
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Reinitialiser
{
    background-color: red;
    color: white;
    font-weight: Bolder;
    border: none;
    box-shadow: 2px 2px 8px white;
    border-radius : 10px;
    
}

#Reinitialiser:focus
{
    background-color: green;
    color: white;
}

#score
{
    display: block;
    font-size: 2em;
    font-weight: 900;
    color: black;
    font-family: cursive;
}

#gameOver
{
    display: none;
    width: 50vh;
    height: 56vh;
    position: absolute;
    background-color: black;
    color: white;
    padding: 2em;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0.1em 2em red;
}

#gameStart
{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-image: url('../Img/roguelike-dungeons.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#gameWin, #gamePause
{
    display: none;
    width: 50vh;
    height: 56vh;
    position: absolute;
    background-color: black;
    color: white;
    padding: 1.5em;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0.1em 2em green;
}

#gameOver h1
{
    font-size: 3em;
    font-weight: bolder;
    color: red;
    font-family: cursive;
    margin-bottom: 1.5em;
}

#gamePause h1
{
    font-size: 3em;
    font-weight: bolder;
    color: green;
    font-family: cursive;
    margin-bottom: 2em;
}

p
{
    font-size: 1em;
    font-weight: 300;
    font-family: cursive;
    padding-bottom: 2em;
}

#gameStart h1 
{
    font-size: 5em;
    font-weight: bolder;
    color: goldenrod;
    font-family: cursive;
    margin-top: 0.5em;
}

#gameWin h1 
{
    font-size: 3em;
    font-weight: bolder;
    color: green;
    font-family: cursive;
    margin-bottom: 2.5em;
}


.Button-rejouer , #Button-reprendre
{
    display: block;
    background-color: rgb(68, 116, 68);
    font-family: cursive;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 1em;
}

#Button-commencer 
{
    display: block;
    background-color: green;
    font-family: cursive;
    color: white;
    font-size: 2em;
    font-weight: 600;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 65vh;
}

.Button-rejouer:hover, #Button-reprendre:hover
{
    background-color: green;
}

#Button-commencer:hover
{
    background-color: rgb(68, 116, 68);;
    
}

#Button-quitter 
{
    display: block;
    background-color: rgb(163, 125, 19);
    font-family: cursive;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 1em;
}

#Button-quitter:hover
{
    background-color: red;
}

.rouge
{
    color : red;
    font-size: 1.5em;
}

.centre
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav
{
    display: flex;
    background-color: black;
    padding: 1em 0 0.5em 1em;
    color: white;
}

nav .sp2
{
    display: block;
    text-align: center;
    margin-top: 0.2em;
}

nav button
{
    display: block;
    background-color: black;
    color: white;
    font-weight: 600;
}


.liste
{
    list-style: none;
    margin: 0 2.7em;
    width: 5em;
    font-family: cursive;
    font-weight: 900;
    font-size: 1em;
    text-align: center;
}

#nav-Down
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

#nav-Up
{
    display: flex;
    justify-content: center;
}

.animation
{
    display: flex;
    min-height: 10vh;
    min-width: 100%;
    background-color: white;
    padding: 0.5em;
    margin-bottom: 4em;
}

.bonhome 
{
    max-width: 20%;
    max-height: 15vh;
    position: relative;
    animation: vaEtVient 4s linear infinite alternate;
}

@keyframes vaEtVient {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 20%); 
    }
}
